.background {
    -fx-background-color: white;
}
.button-TaalSelectie,#btnBack{
    -fx-font-family: "Nordstrom Roman";
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
    -fx-background-color: lightgray;
    /*    -fx-border-color: #cccccc;*/
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-insets: 5px;
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-background-insets: 5px
}
.button-StartSpel{
    -fx-font-family: "Nordstrom Roman";
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
    -fx-background-color: #AFAFAF;
    /*    -fx-border-color: gray;*/
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-insets: 5px;
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-background-insets: 5px;
}
.button-StartSpel:hover{
    -fx-background-color: #A0A0A0; 
}
.button-TaalSelectie:hover{
    -fx-background-color: #A0A0A0; 
}
#btnBack:hover{
    -fx-background-color: #A0A0A0; 
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane
{
    -fx-tab-min-width:400px;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: lightgray;
}
.tab-pane .tab:selected
{
    -fx-background-color: #AFAFAF;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
}
.label{
    -fx-font-family: "Nordstrom Roman";
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
}
.kaartenachterkant{
    -fx-background-image:url("/img/kaartAchterkant-klein.png");
}
.wedstrijdkaartenachterkant{
    -fx-background-image:url("/img/kaartAchterkant-groot.png");
}
.combo-box{
    -fx-font-family: "Nordstrom Roman";
    -fx-font-size: 18px;
    -fx-background-color: lightgray;
}
